aiModels/languageModel/.venv
aiModels/languageModel/archive.zip
aiModels/languageModel/.idea
aiModels/languageModel/archive
aiModels/languageModel/emotions.csv
aiModels/languageModel/hidden.txt

frontend/mentalHealthApp/node_modules

EmotionRecognition-backend/.env
EmotionRecognition-backend/__pycache__/
EmotionRecognition-backend/*.pyc
EmotionRecognition-backend/instance/
EmotionRecognition-backend/*.sqlite3
EmotionRecognition-backend/.venv/
EmotionRecognition-backend/venv/