aiModels/languageModel/.venv
aiModels/languageModel/archive.zip
aiModels/languageModel/.idea
aiModels/languageModel/archive
aiModels/languageModel/emotions.csv
aiModels/languageModel/hidden.txt

aiModels/fusionModel/*.wav
aiModels/fusionModel/*.jpg

frontend/mentalHealthApp/node_modules

backend/EmotionRecognition-backend/.env
backend/EmotionRecognition-backend/__pycache__/
backend/EmotionRecognition-backend/*.pyc
backend/EmotionRecognition-backend/instance/
backend/EmotionRecognition-backend/*.sqlite3
backend/EmotionRecognition-backend/.venv/
backend/EmotionRecognition-backend/venv/
backend/EmotionRecognition-backend/migrations/versions